body {
  background-image: url("https://i.gyazo.com/5b7855381ad71c95c3e6d4782ddcb89d.jpg");
  background-position: top;
}

h1 {
  color: #F2F2F3;
}

p {
  color: #F2F2F3;
}

.topnav {
  overflow: hidden;
  background-color: #9E0000;
}

.topnav a {
  float: left;
  display: block;
  color: f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
}

.topnav a:hover {
  background-color: #7C0000;
  color: whitesmoke;
}

.topnav a:visited {
  color: whitesmoke;
}

.BufferBox {
  display: block;
  width: 100%;
  background-color: #7C0000;
      margin: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 20px;
      width: 80%;
      height: 150px;
}

.SmolBox {
    background-color: #7C0000;
    margin: 10px;
    text-align: center;
    padding: 20px;
    width: 80%;
    color: #9E0000;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    width: 83.5%;
    margin-left: auto;
    margin-right: auto;
    }
